<div class="container">
<div class = "row">
  <div class = "span4">
	<section>
	  <h1>
	  	<%=gravatar_for @user , size: 100, circle:true %>
	  	<%=@user.username %> 
	  </h1>
	</section>
  </div>
</div>
</div>