<div class="container showsub">
<h3>
All submissions to <%= @solvedproblem.submissions[0].oj_problem.title %>
</h3>
<hr>
<% @solvedproblem.submissions.each do |s| %>
<%= render partial: "submissions/submission_summary", locals: {submission: s} %>
<% end %> 
</div>