// Place all the styles related to the CommonPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
@import url(http://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(http://fonts.googleapis.com/css?family=Buenard);
.front-bg {
}

.user-brief {
  padding-left: 20px;	
  margin-top: 20px;
  border-width: 2px;
}
.user-name{
	border-left: 1px solid #ccc;
	text-align: center;
	padding-left: 20px;
	font-size : 18px;
	margin-left:10px;
}

.welcome-signup {
	position:absolute;
	top: 120px;
	right: 50px;
	width: 20%;
	padding: 20px;
	text-align: center;
}
.welcome-container {
	position:relative;
	min-height: 100%;
	background: url(/assets/rpbridge.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.welcome-form {
	margin:4px
}

.lph {
	position:absolute;
	top: 365px;
	left: 200px;
	p {
	    font-size: 20px;
	    color: #fff;
	}
}

.trends {
	padding-top: 10px;
}


.welcome-signup-bg {
background: #fff;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
background: -o-linear-gradient(top,#fff 0,#ddd 100%);
background: linear-gradient(top,#fff 0,#ddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
border-bottom: 1px solid #ccc;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.welcome-footer {
    position:fixed;
    bottom:0;
    width:auto;
    margin:0 auto
}

.release-container {
	max-width: 600px;
	margin-top:30px;
	margin: 0 auto;
	background: #fff;
	font-family: 'Cherry Swash', cursive;
	h1{
		letter-spacing:3px;
	}
	h3{
	   font-family: 'Buenard', serif;
	}
	.release-small {
	}
	.release-content {
		font-family: 'Times New Roman'
	}
}

.release-body {
	background: #f2f2f2
}
