<footer class="footer welcome-footer">
  <nav>
    <ul>
      <li> 2013 HuntCoding </li>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Release", release_path %></li>
    </ul>
  </nav>
</footer>