<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <p id="logo"> Hunt Coding </p>
      <nav>
        <ul class="nav pull-right">
          <li>
          <%= form_for(:session, url: sessions_path, html:{class:"navbar-form"}) do |f| %>
          <%= f.text_field :email, class: "span2", placeholder: "email" %>
          <%= f.password_field :password, class: "span2", placeholder: "password" %>
          <%= f.submit "Sign in", class: "btn-small btn-primary" %>
         <% end %>
         </li>
        </ul>
      </nav>
    </div>
  </div>
</header>